/* 박스모델에 패딩과 보더 사이즈를 아이템 너비와 높이에 포함 */
*{
  box-sizing: border-box;
}

/* css 변수할당 */
/* textcolor을 흰색에서 다른 색으로 일괄적으로 바꾸고 싶을 때 */
:root {
  --text-color: #f0f4f5
  --background-color: #263343;
  --accent-color: orange;
  /* 밑에 color: var(--text-color) 이런 식으로 적어주면 됨 */
}

body{
  margin: 0;
  /* 상단에 있는 스페이스를 없애줌 */
  font-family: 'Source Sans 3';
}

a{
  text-decoration: none;
  color: white;
}

.navbar {
  /* 한 줄 나란히 */
  display: flex;
   /* navbar끼리 서로 space 넣어주기 */
  justify-content: space-between;
  align-items: center;
  background-color: rgb(87, 110, 197);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
}

.navbar__logo i{
  color: orange;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li{
  padding: 8px 12px;
}

.navbar__menu li:hover{
  background: orange;
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: white;
  display : flex;
  /* justify content,width 변경해도 미묘하게 안맞는 건 padding때문 */
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  /* 큰 창에서는 안보이게 */
  display: none;
  /* 흐름에서 나와서 위치 고정 */
  position: absolute;
  /* 왼쪽상단에서 오른쪽으로 위치 변경 */
  right: 32px;
  font-size: 24px;
  color: orange;
}

@media screen and (max-width: 768px){
  /* navbar containers가 가로에서 세로로 */
  .navbar {
    flex-direction: column;
    /* 왼쪽으로 이동 */
    align-items: flex-start;
    /* 테두리 여유공간 만들기 */
    padding: 8px 24px;
  }
  
  .navbar__menu{
    display: none;
    flex-direction: column;
    align-items: center;
    /* 너비가 작기 때문에 center로 오려면 100%로 변경 */
    width: 100%;
  }

  .navbar__menu li{
    /* orange highlight를 row 전체로 바꾸기 */
    width: 100%;
    /* 너비가 넓어지면 text는 자동으로 왼쪽 정렬로 바꾸기 때문에 재정렬 */
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    /* 토글버튼 보임 */
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}